.footer {
  padding: 32px 8%;
  background: #f9fafb;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;  
  box-shadow: 0px 5px 10px #64748b;
}

.footer-brand h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f172a;
}

.footer-brand span {
  color: #f59e0b;
  margin-left: 2px;
}

.footer-icons {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.footer-icons a {
  color: #64748b;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icons a:hover {
  color: #0f172a;
  transform: translateY(-2px);
}


.footer-copy {
  text-align: right;
}

.footer-copy p {
  font-size: 0.9rem;
  color: #64748b;
}


@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .footer-copy {
    text-align: center;
  }
}
